@use '../../variables';

#main-banner {
    position: relative;
    width: 100%;
    height: 10rem;
    overflow: hidden;

    img#bannerBackground {
        object-fit: cover;
        width: 100%;
    }

    img#logo {
        height: 6rem;
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translate(0,-50%);
    }
}