@use '../../variables';

.upcoming-race-card {
    padding: 0.5rem 1rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: variables.$clr-VeryDark;
    color: variables.$clr-Light;

    // header {
    //     margin: 0;
    // }

    span {
        font-size: variables.$fs-200;
        display: block;
    }

    hr {
        border: none;
        border-bottom: 1px solid #555
    };

    .track-img {
        margin-top: 1rem;
    }

    .flag-icon {
        display: inline;
        width: 1rem;
        aspect-ratio: 4/3;
    }

    
}