@use "../../variables.scss";

.last-race-results-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

    h3{
        float:left;
        margin-top:1.2rem;
        margin-bottom: .1rem;
    }

    .results-table{
        font-size: variables.$fs-100;

        .result-desc{
            font-weight: 800;

            td{
                padding-left: .8rem;
                padding-right: .8rem;
            }
        }

        .results{
            border-top:1px solid red;

            td{
                padding-left: .8rem;
                padding-right: .8rem;
            }
        }
    }
}