@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Formula1';
  src: url('../public/assets/fonts/Formula1.ttf') format('truetype'),
}

// colors
$clr-Dark: #333;
$clr-VeryDark: #222;
$clr-Light: rgb(245, 245, 245);
$clr-Contrast: rgb(240, 48, 48);

// fonts
$ff-Casual: 'Roboto Mono', monospace;
$ff-Headers: 'Formula1', serif;

// font sizes
$fs-100: 0.750rem;
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.5rem;
$fs-500: 1.875rem;
$fs-600: 2.25rem;
$fs-700: 2.875rem;
$fs-800: 3.5rem;

